@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding:0;
}

/* COLORES MÁS UTILIZADOS*/
$AZULCITO_CLARO: #cdffff;
$AZUL_CELESTITO:rgb(62, 185, 207);



body {
    
    header{
        background-color: $AZULCITO_CLARO;
        background-image:url('../imagenes/logo_CM.png');
        background-position-x: left;
        background-size: 5%;
        background-repeat: no-repeat;
        grid-area: header; /* etiqueta de la sección en el grid*/

        h1{
            color:$AZUL_CELESTITO;
            font-family: Lato;
            font-weight: bolder;
            text-align: center;
        }
    }
}



/*
nav ul {
     text-align: center;
}
nav ul li {
   display:inline;
   padding: 10px;
} */



footer{
    section{
        background-color: $AZULCITO_CLARO;
        font-weight: bold;  
    }
    
    margin-bottom: 10px; 
    padding: 15px;
    grid-area: footer; /* etiqueta de la sección en el grid*/
}

.listaHorizontal{
    display:inline;
    border-color: $AZULCITO_CLARO;
    border-style: solid;
    text-align: center;

}


#PRODUCTOS-titulo{

    font-family: Lato;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}


.lista{
    list-style-type: none;
}
.negrita{
    font-weight: bold;   
}

.centrar{
    text-align: center;
    display:flex;
    justify-content:space-evenly;
}
/*.grid-explicito{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr ;
    grid-template-rows: 1fr 3fr;
}*/
.contenedor {
    background-color: cyan;
    /*width: 100px;*/
    /*height: 100px;*/
}
.contenedor-2{
    color:#083434;
    background-color: #05ecec;
    padding: 1px;
}
#uno{
    background-color: antiquewhite;
    
}

#dos{
    display: grid;
    background-color: beige;
    grid-template-columns: repeat(2) ;
}

.pie-desarrollo{
    font-size: 10px;
    text-align: right;
}





.border {
    border: 1px solid black;
    }

.texto-animado{
    animation-name: texto;
    animation-duration: 6s;
    animation-iteration-count: 10;
}
@keyframes texto{
    from{
        transform: translateX(100%) scale(.25,.25);
    }
    to{
        transform: translate(0);
    }
}
.grad-lineal{
    background-image: linear-gradient(to left, cyan,pink);
}

.grad-radial{
    background-image: radial-gradient(cyan, blue);
}


.imagen {
    transition: transform .7s ease-in-out;

    &:hover{transform: rotate(360deg);

    }
  }

  /* Estructura de la grilla*/

/*para un celu*/
/*@media  screen and (max-width: 600px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "presentacion"
        "productos"
        "clientes"
        "publicidad"
        "footer";
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
    
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        justify-items: stretch;
        align-items:stretch;
        }
    }
    /*para una tablet*/
   /* @media screen and (min-width: 601px) and (max-width: 1023px) {
        #grilla {
            display: grid;
            grid-template-areas:
            "header header"
            "nav nav"
            "presentacion publicidad"
            "productos publicidad"
            "clientes footer";
            grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
            grid-template-columns: 60% 40%;
        
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            }
    
        }
/*para una PC de escritorio*/
 /*   @media screen and (min-width: 1024px) {
        #grilla {
            display: grid;
            grid-template-areas:
            "nav header header"
            "nav presentacion publicidad"
            "nav productos publicidad"
            "nav clientes publicidad"
            "nav footer footer";
            grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
            grid-template-columns: 20% auto 15%;
        
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            }
    
        }
*/
/*
section#PRODUCTOS {
    grid-area: productos;
}

section#PRESENTACION {
    grid-area: presentacion;
}

section#CLIENTES {
    grid-area: clientes;
}

nav {
    grid-area: nav;
    }
    
aside {
    grid-area: publicidad;
    }
*/